---

- name: incaease nofile
  pam_limits:
    domain: "{{ item.user }}"
    limit_type: '-'
    limit_item: "{{ item.item }}"
    value: "{{ item.value }}"
  with_items:
    - { user: '*', item: 'nofile', value: '65535' }
    - { user: '*', item: 'fsize', value: 'unlimited' }
    - { user: '*', item: 'nproc', value: '64138' }

- name: enable logrotate for mysql
  template:
    src: mysql/logrotate.j2
    dest: /etc/logrotate.d/mariadb

- name: configure mysql
  template:
    src: mysql/openstack.cnf.j2
    dest: /etc/my.cnf.d/openstack.cnf
  notify: restart mysql

- name: enable apache status module
  template:
    src: apache/status.conf.j2
    dest: /etc/httpd/conf.d/status.conf
  notify: restart apache

- name: enable rabbitmq plugins
  rabbitmq_plugin:
    names: '{{ rabbitmq_plugins | join(",") }}'
    state: enabled
  notify: restart rabbitmq
  when: rabbitmq_plugins != []
